<!DOCTYPE html>
<html>
  <head>
    <title>Soccer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to"Soccer Teams", :controller=>"static", :action=>"home", :class=>"navbar-brand" %>

      </div>

    </div>
        <%= link_to"Table", :controller=>"static", :action=>"main", :class=>"" %>
  </nav>

    <%= yield %>
  </body>
</html>
